:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto; 
}

.container{
  background-color:#70c043 ; 
  width: 80%;
  margin:0 auto;
  text-align: center;
  padding: 30px;
  
  
}

.container > h1, .container > p{
  text-align: center;
  color: white;
}




.myDiv1 {
  border: 20px;
  background-color: rgb(247, 241, 244);
  text-align: center;
  height: 150px;
  width: 100px;
  padding: 50px;
  margin: 20px;
  font-size: 12px;
  display: inline-block;
}

.container > h2, .container > p{
font-size: 15px;
text-align: center;
background-color:#70c043 ;
padding-top: 20px;
padding-bottom: 20px;
}

.myDiv2 {
  border: 20px;
  background-color: rgb(247, 241, 244);
  height: 150px;
  width: 100px;
  padding: 50px;
  margin: 20px;
  display: inline-block;
  font-size: 12px;
}

.myDiv2 > h2{
text-align: center;

}

.myDiv3 {
  border: 20px;
  background-color: rgb(247, 241, 244);
  height: 150px;
  width: 100px;
  padding: 50px;
  margin: 20px;
  font-size: 12px;
  
  display: inline-block;
}


.outerDiv{
  display: inline-block; 
  background-color: rgb(248, 248, 239);
  padding: 10px;
  
  } 

  .outerDiv > h2 {
    text-align: left; 
    
    } 

  .outerDiv > p {
    
    text-align:justify;
    }

.labelF{
  position: relative;left: 105px;
  margin-inline: 20px;
  display: inline-block; 
  background-color: white;
 
}

.labelL{
  position:relative; left: 80px;
  margin-inline: 20px;
  display: inline-block; 
  background-color: white;
  }

.fl{
  background-color: rgb(248, 248, 239);
  padding: 10px;
  text-align: left; 
  width: 1073px;
  display: inline-block;
  
  }

.fl{
  padding-top: 10px;
}


